<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>com.manytricks.ClickAvenger.AutoAvenge.Disabled</string>
		<key>Key</key>
		<string>com.manytricks.ClickAvenger.AutoAvenge.Scope</string>
		<key>Title</key>
		<string>Auto-Avenge</string>
		<key>Titles</key>
		<array>
			<string>Disable</string>
			<string>⌘-Clicks</string>
			<string>Clicks and ⌘-Clicks</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.manytricks.ClickAvenger.AutoAvenge.Disabled</string>
			<string>com.manytricks.ClickAvenger.AutoAvenge.CommandClick</string>
			<string>com.manytricks.ClickAvenger.AutoAvenge.Click</string>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>com.manytricks.ClickAvenger.Whitelist</string>
		<key>Title</key>
		<string>Whitelist Expression</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
