<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Many Tricks</string>
	<key>Builder Version</key>
	<string>8536.29.13</string>
	<key>CFBundleDisplayName</key>
	<string>⌘ – Click Avenger</string>
	<key>CFBundleIdentifier</key>
	<string>com.manytricks.Safari.CommandClickAvenger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1010</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Restore the ability to open links in tabs via Command-click on sites where it doesn't work as expected due to JavaScript.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://manytricks.com/safariextensions/updatemanifest.plist</string>
	<key>Website</key>
	<string>http://manytricks.com</string>
</dict>
</plist>
